.box1{
    background-color: aqua;
    height: 150px;
    width: 250px;
    margin: 20px;
    border-radius: 3%;
    display: block;
}

.box2{
    background-color: rgb(173, 37, 37);
    height: 150px;
    width: 250px;
    border-radius: 3%;
    margin: 20px;

}

.box3{
    background-color: rgb(21, 3, 114);
    height: 150px;
    width: 250px;
    border-radius: 3%;
    margin: 20px;
    display: block;

}

.box4{
    background-color: purple;
    height: 150px;
    width: 250px;
    border-radius: 3%;
    margin: 20px;
    display: inline-block;


}

.box5{
    background-color: yellow;
    height: 150px;
    width: 250px;
    border-radius: 3%;
    margin: 20px;
    display: inline-block;


}

.box6{
    background-color: pink;
    height: 150px;
    width: 250px;
    border-radius: 3%;
    margin: 20px;
    display: inline-block;

}

.span1{
    background-color: yellowgreen;
    height: 150px;
    width: 250px;
    border-radius: 3%;
    margin: 20px;
    display: inline;
}
.span2{
    background-color: rgb(98, 1, 115);
    height: 150px;
    width: 250px;
    border-radius: 3%;
    margin: 20px;
    display: inline;


}
.span3{
    background-color: rgb(194, 197, 21);
    height: 150px;
    width: 250px;
    border-radius: 3%;
    margin: 20px;
    display: inline;


}
